.venv
aclImdb_v1.tar.gz
1. Learning/Veridical Data Science/6. Principal Component Analysis/nutrition
1. Learning/Hands On Machine Learning/my_california_housing_model.pkl
1. Learning/Hands On Machine Learning/my_mnist.mmap
1. Learning/Hands On Machine Learning/lucid-bond-463306-k8-1062e758e5e5.json